
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}



<div class="main-w3layouts wrapper">
	<div class="main-agileinfo">
	<h4>Check the message sent to your inbox !</h4> 

			
		</div>
	</div>
	<!-- copyright -->
	<div class="colorlibcopy-agile">
		<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
	</div>
	<!-- //copyright -->
	<ul class="colorlib-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

