@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="main-w3layouts wrapper">
	<h1>Creative Reset Password Form</h1>
	<div class="main-agileinfo">
		<div asp-validation-summary="All"></div>
		<div class="agileits-top">
			<form asp-action="ResetPassword">
				<div class="mx-auto">
					
					<input class="text" asp-for="Password" placeholder="Password" required="">
					<br />
					<input class="text" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
					<br />
				</div>

				<input class="w-100" type="submit" value="Reset Password">
			</form>
			
		</div>
	</div>
	<!-- copyright -->
	<div class="colorlibcopy-agile">
		<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
	</div>
	<!-- //copyright -->
	<ul class="colorlib-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>


