@model RoleViewModel
@{
    ViewData["Title"] = "Update";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update Role</h1>


<br />
<br />
<form asp-action="Update" enctype="multipart/form-data">

	<partial name="RolePartialViews/RoleEditAddPartialView" model="@Model"></partial>

	
	<a asp-action="AddOrRemoveUsers" asp-route-roleId="@Model.Id" class="btn btnStyl btn-outline-success">Add Or Remove Users</a>
	<input class="btn btnStyl btn-outline-warning" type="submit" value="Save" />
	<a asp-action="Index" class="btn btnStyl btn-outline-dark">Back to List</a>

</form>

