@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>

<br />
<br />
<form asp-action="Create" enctype="multipart/form-data">
	
	<partial name="EmployeePartialViews/EmployeeEditAddPartialView" model="@Model"></partial>
	
	<input class="btn btnStyl btn-outline-success" type="submit" value="Add" />
	<a asp-action="Index" class="btn btnStyl  btn-outline-dark">Back to List</a>

</form>

@section jQueryValidation {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}