@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete employee</h1>
<br />
<br />
<form asp-action="Delete">

	<partial name="EmployeePartialViews/EmployeeDeleteDetailsPartialView" model="@Model"></partial>
	<input hidden asp-for="ImageName" />

	<input class="btn btnStyl btn-outline-danger" type="submit" value="Confirm" />
	<a asp-action="Index" class="btn btnStyl btn-outline-dark">Unconfirm</a>

</form>


