@model DepartmentViewModel

<div class="text-danger" asp-validation-summary="All"></div>
<div class="form-group">
	<label asp-for="Code"></label>
	<input asp-for="Code" class="form-control" />
	<br />
	<span class="text-danger" asp-validation-for="Code"></span>
</div>
<br />
<div class="form-group">
	<label asp-for="Name"></label>
	<input asp-for="Name" class="form-control" />
	<br />

	<span class="text-danger" asp-validation-for="Name"></span>
</div>
<br />

<div class="form-group">
	<label asp-for="DateOfCreation"></label>
	<input asp-for="DateOfCreation" class="form-control" />
	<br />

	<span class="text-danger" asp-validation-for="DateOfCreation"></span>
</div>
<br />
